<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-blue main-sidebar">
    <div>
        <a href="{{ path('homepage') }}"
           class="d-flex justify-content-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-4">{% trans from 'sidebar' %}title{% endtrans %}</span>
        </a>
    </div>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        {% for item in items %}
            {{ component('sidebar-menu-item', {path: item.getRelativePath, src: item.getImageSource, trans: item.getTranslationAlias}) }}
        {% endfor %}
    </ul>
    <div class="d-flex align-self-center">
        {% if is_granted('ROLE_ADMINISTRATOR') %}
            {{ 'ROLE_ADMINISTRATOR'|trans({},'security')|capitalize }}
        {% else %}
            {{ app.user.getFullName() }}
        {% endif %}
    </div>
    <hr>
    <div class="d-flex justify-content-around main-sidebar-footer">
        <a class="border border-white rounded-circle p-2 d-flex justify-content-center"
           data-mdb-toggle="tooltip" title="{% trans from 'sidebar' %}footer.logout{% endtrans %}"
           href="/logout">
            <img width="22" height="22" src="{{ asset('build/images/logout-256.png') }}"
                 alt="{% trans from 'sidebar' %}footer.logout{% endtrans %}">
        </a>
        <div class="d-flex justify-content-center">
            {{ component('language-switcher', { type: 'up' }) }}
        </div>
    </div>
</div>